/* faz a cor do texto da borda mudar */
h4:hover{
    color: rgb(163, 39, 39);
    transition: all 0.3s ease-in-out;
}

/* faz as caixas do formulários mudarem de cor junto com a letra*/
.hvr_inp:hover{
    background-color: brown;
    border-radius: 20px;
    color: white
}


/* faz os botões mudarem de cor junto com o peso e a cor da letra  */
.botao:hover{
    background-color: black;
    color: orange;
    font-weight: bold;

}

/* faz a borda da caixa do formulario mudar de cor */

.box:hover{
    border: 2px solid black;
}

/* faz a logo sk8 girar */
.sk8:hover{
    transition: 0.70s;
   transform: rotate(360deg);

}